 <form action="/insert_workout" method="post">
    <div>
      <label for="date_box">Date</label>
      <input type="date" id="date_box" name="query_date">
    </div>
    <button>
      Create workout
    </button>
  </form>
  </div>
</div>
