<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <form action="/insert_activity" method="post">
        <div class="mb-3">
          <label for="name_box" class="form-label">
            Name
          </label>
          <input type="text" id="name_box" name="query_name" class="form-control">
        </div>

        <div class="mb-3">
          <label for="image_box" class="form-label">
            Image
          </label>
          <input type="text" id="image_box" name="query_image" class="form-control">
        </div>

        <div class="mb-3">
          <label for="equipments_box" class="form-label">
            Equipments
          </label>
          <input type="text" id="equipments_box" name="query_equipments" class="form-control">
        </div>

        <div class="mb-3">
          <label for="description_box" class="form-label">
            Description
          </label>
          <textarea id="description_box" name="query_description" rows="3" class="form-control"></textarea>
        </div>

        <div class="mb-3">
          <label for="target_muscle_box" class="form-label">
            Target muscle
          </label>
          <input type="text" id="target_muscle_box" name="query_target_muscle" class="form-control">
        </div>

        <div class="row">
          <div class="col-md-6">
            <a href="/activities" class="btn btn-secondary">
              <i class="fas fa-arrow-left"></i>
            </a>
          </div>
          <div class="col-md-6 text-end">
            <button type="submit" class="btn btn-primary">
              Create activity
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
