<form action="/insert_activity" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="equipments_box">
          Equipments
        </label>

        <input type="text" id="equipments_box" name="query_equipments">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="target_muscle_box">
          Target muscle
        </label>

        <input type="text" id="target_muscle_box" name="query_target_muscle">
      </div>

      <button>
        Create activity
      </button>
    </form>
  </div>
</div>
